div .img-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    grid-area: hand2;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 768px) {
    div .img-2 {
        opacity: 0;
    }
}