div .img-1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    grid-area: hand;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 767px) {
    div .img-1 {
        opacity: 0;
    }
}