@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(137deg, rgba(91, 55, 58, 1) 10%, rgba(34, 34, 41, 1) 24%);
}